{% extends 'base.html' %}
{% block title %}
Liked Paper
{% endblock title %}



{% block body %}
 <h3 class="text-center"><span>Paper Details</span> </h3>
  
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
<br>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">P_ID</th>
      <th scope="col">Title</th>
      <th scope="col">Abstract</th>
      <th scope="col">Date of Publish</th>
      <th scope="col">Field of Research</th>
      <th scope="col">Published By</th>
      <th scope="col">Author Name</th>
           <th scope="col">Likes</th>
    

    </tr>
  </thead>
  <tbody>
  {% for post in query %}
    <tr>
      <th scope="row">{{post.P_ID}}</th>
      <td>{{post.Title}}</td>
      <td>{{post.Abstract}}</td>
      <td>{{post.Date_of_Publish}}</td>
      <td>{{post.Field_Of_research}}</td>
      <td>{{post.Name}}</td>
      <td>{{post.name}}</td>
        <td>{{post.likes}}</td>
   </tr>
{% endfor %}
  
  </tbody>
</table>






{% endblock body %}